{% extends 'base.html' %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock navbar %}

{% block container %}

<div class="row">
    <div class="col-lg-12">
        <table class="table table-stripped">
            <tr>
                <td>USER</td>
                <td>KEYWORD</td>
                <td>SEARCH COUNT</td>
                <td>OPEN</td>
            </tr>
            {% for i in data %}
            <tr>
                <td>{{ i.user__username }}</td>
                <td>{{ i.search_phrase__keyword }}</td>
                <td>{{ i.search_count }}</td>
                <td><a target="_blank" href="/search/?keyword={{i.search_phrase__keyword}}&page=1&page_size=10">open</a></td>
            </tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endblock container%}